.list-attendance{
    margin-bottom: 0;
    padding-left: 0;
    list-style: decimal;
    font-weight: 300;
    font-size: 20px;
    p { 
        color: #666;
    }
}
.list-toggle-privacy-policy{
    .tab-toggle-for{
        p{
            color: #00a335;
        }
    }
}