header{
    ul{
        list-style: none;
        padding-left: 0;
    }
    .isvg{
        vertical-align: middle;
        line-height: 1;
    }
    .header__backdrop{
        position: fixed;
        z-index: 444;
        top: 0;
        width: 100vw;
        height: 100vh;
        content: "";
        background-color: hsla(0,0%,100%,.75);
        display: none;
    }
    .pageContainer{
        z-index: 555;
        position: relative;
    }
    .header__top{
        color: #5e6573;
        font-size: 1.5rem;
        font-weight: 300;
        padding: 5px 0 6px;
        a{
            color: #5e6573;
        }
        .header__helper-extra-menu{
            position: relative;
            &:before{
            position: absolute;
            top: 50%;
            left: 0;
            width: 1px;
            height: 12px;
            margin-top: -6px;
            background-color: #5e6573;
            content: "";
            opacity: .7;
            }
        }
        .header__language{
            position: relative;
            z-index: 555;
            .header__language-list{
                position: absolute;
                top: calc(100% + 5px);
                right: 0;
                padding: 4px 16px 0;
                border-radius: 3px;
                border: 1px solid #ddd;
                background-color: #fff;
                z-index: 6;
                .header__language-item{
                    a{
                        display: flex;
                        padding: 10px 0;
                        .text{
                            margin-left: 5px;
                        }
                    }
                    + .header__language-item{
                        border-top: 1px solid #ddd
                    }
                }
            }
        }
    }
    .header__logo{
        width: 144px;
        height: 30px;
        svg{
            width: 100%;
            height: 100%;
        }
    }
    .header__main{
        border-bottom: 1px solid map-get($color, silver);
        position: relative;
        height: 55px;
    }
    .header__main-menu{
        height: 100%;
        ul{
            a{
                color: #2b2b2b;
                padding: 15px 20px 15px 0;
                height: 55px;
                display: block;
                font-size: 1.6rem;
                span{
                    margin-left: 10px;
                    font-size: 1.2rem;
                    color: var(--main)
                }
            }
            .has-mega{
                .mega__wrap{
                    position: absolute;
                    top: 100%;
                    background: #fff;
                    width: 1440px;
                    left: 50%;
                    transform: translateX(-50%);
                    display: none;
                    .bg-gray{
                        background: #f5f5f5;
                    }
                    &:before{
                        content: '';
                        width: 500px;
                        height: 100%;
                        background: #f5f5f5;
                        right: 0;
                        top: 0;
                        position: absolute;
                        z-index: -1;
                    }
                    .mega__row{
                        &>div{
                            padding: 3rem 2rem;
                        }
                        .mega__left{
                            padding-left: 0;
                        }
                    }
                    &.mega__1{
                        .mega__left{
                            .mega__extra-menu{
                                margin-bottom: 2rem;
                                h2{
                                }
                                ul{
                                    a{
                                        font-size: 1.5rem;
                                        padding: 10px 0;
                                        height: auto;
                                    }
                                }
                            }
                        }
                    }
                }
                &:hover{
                    .mega__wrap{
                        display: block;
                    }
                }
            }
        }
    }
    .header__search{
        height: 55px;
        position: relative;
        border-bottom: 1px solid map-get($color, silver);
        input{
            display: none;
        }
        .text{
            padding-right: 25px;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            white-space: nowrap;
            cursor: pointer;
            z-index: 22;
        }
        .search-input-icon{
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            color: var(--main)
        }
        .search-input-close{
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            // color: var(--main);
            width: 55px;
            line-height: 55px;
            text-align: right;
            cursor: pointer;
            height: 100%;
            font-size: 2.2rem;
            display: none;
        }
        input{
            margin-left: 25px;
            width: 90%;
            border: none;
            padding: .5rem;
            outline: none;
        }
        &.active{
            background: #fff;
            // border-bottom: 1px solid map-get($color, silver);
            width: 100%;
            position: absolute;
            display: flex;
            align-items: center;
            input{
                display: block;
            }
            .search-input-icon{
                left: 0;
                right: auto;
            }
            .search-input-close{
                display: block;
            }
            .text{
                display: none;
            }
        }
    }
}