.blog-about-section.pd-section
	.container
		.row
			.col-lg-8
				.blog-about-container
					h2.fs-22.mb-3 On
					img(src="https://blog.intelbras.com.br/wp-content/uploads/2015/09/croped.jpg", alt="")
					p The Intelbras Blog is a space that talks about technologies, focusing on the benefits they offer us on a daily basis, changes in habit and problem solving.
					p Disclosing tips, curiosities, market trends and major changes, it was developed by those who are market leaders to assist, answer questions and motivate the discussion about technologies, in addition to promoting information in an easy, original and innovative way to offer knowledge technical to all.
			.col-lg-1
			.col-lg-3
				include ../_layouts/blog-aside