.indexSection.page-banner-1
	.container
		.swiper-container
			.swiper-wrapper
				.swiper-slide
					.indexBanner
						.banner__img
							img.object-cover.lazyload.blur-up(data-src='/images/banners/1.png' alt='')
						.banner__caption.fullsize
							.banner__content.clearfix
								h2.fw-300 Visit Intelbras
								.mt-1
									span.fw-300 From February to November, audiences from educational institutions and companies interested in benchmarking, getting to know our facilities, processes and values. 
								//- .mt-2
								//- 	a.btn.btn--main(href='https://youtu.be/vXgzLqlGZuY')
								//- 		span.btn__text Discover the new Intelbras campaign!
								//- 		span.btn__icon--right.fal.fa-chevron-right
		.swiper-pagination-custom
.career-visit-section.pd-section
	.container
		.row
			.col-md-6
				.career-visit-item
					.career-visit-item-img
						img(src="/images/Icon_estudantes_outline_1.png", alt="")
					.career-visit-item-caption
						h2.fs-32.fw-300.mb-2 Students
						p Date of visit: Thursdays
						p Hours: 13: 30h to 16: 30h
						p Groups of at least 10 and a maximum of 25 people
						p Minimum age of visitors: 14 years
			.col-md-6
				.career-visit-item
					.career-visit-item-img
						img(src="/images/Icon_maleta_outline.png", alt="")
					.career-visit-item-caption
						h2.fs-32.fw-300.mb-2 Companies (Benchmarking)
						p Date and time of visit: according to availability of the focus area of ​​the visit
						p Groups of maximum 10 people
						p Minimum age of visitors: 14 years
.career-visit-form-section.pd-section
	.container
		.row.justify-content-center
			.col-lg-11.col-xl-10
				.row
					.col-md-6
						h2.fs-32.fw-300.mb-2 Schedule a visit
						form.career-visit-form
							.row
								.form__group.mb-2.col-12
									input.form__control(type="text" placeholder="Name of company or educational institution")
								.form__group.mb-2.col-12
									input.form__control(type="text" placeholder="E-mail do responsável")
								.form__group.mb-2.col-sm-6
									input.form__control(type="text" placeholder="Phone number")
								.form__group.mb-2.col-sm-6
									select.form__control(type="text")
										option Amount of people
										option Value 1
										option Value 1
										option Value 1
										option Value 1
								.form__group.mb-2.col-12
									textarea.form__control(type="text" placeholder="Phone number")
								.form__group.col-12.mb-3
									label.checkbox--custom
										input(type="checkbox", name="TermAgree")
										span I agree to send my data to Intelbras to return the contact message.
								.form__group.col-12
									button.btn.btn--main Continue
										span.btn__icon--right.fal.fa-chevron-right
								
					.col-md-1
					.col-md-5
						.visitation-form--messagebox
							.box
								h3.fs-22.fw-300.mb-3 Informações Importantes
								p.fs-16  Após receber a solicitação de visitas, a Intelbras entrará em contato para agendar a data da visita e encaminhar as orientações necessárias. É importante que os visitantes observem o horário de chegada. Caso isso não ocorra, o tempo de visita será reduzido conforme o tempo de atraso.
