.indexSection
	.container
		.row.no-gutters.indexBanner.direction-flex
			.col-md-5 
				.banner__caption.banner-dark-gray.fullsize
					.banner__content-detail.clearfix
						p.hero-title.mb-3.fs-18 HDs WD Purple™
						h2.fs-32.fw-300 Discos rígidos para CFTV
						.mt-1
							span.fs-16.fw-300 Desenvolvidos especialmente para uso em equipamentos de CFTV. Evitam perdas de imagem e reduzem o custo do projeto
						.mt-2.d-flex.align-items-center
							p.fs-18.fw-300 Cores
							.product__colors.ml-2(style="border-color: #00a335")
								.in(style="background-color: #00a335")
						a.btn.btn--white--outline.mt-4(href='https://youtu.be/vXgzLqlGZuY')
							span.btn__text Ver galeria
							span.btn__icon--right.fal.fa-chevron-right
			.col-md-7
				.banner__img
					img.object-cover.lazyload.blur-up(data-src='/images/banners/2.jpg' alt='')
		
			