.productCategories.pt-section.productCategories--3
	.container
		.productCategories__list
			.row.productCategory.align-items-center
				.col-md-6
					.productCategory__img
						img.lazyload.blur-up.object-cover(data-src="/images/product-categories/9.jpg")
				.col-md-6
					.productCategory__caption
						h4.fw-300.fs-32 Solution for measuring body temperature
						.mt-3.fs-16 
							p Thermal cameras quickly and accurately identify the temperature of several people simultaneously and, in conjunction with facial recognition, can generate automatic alerts even if the person is wearing a mask, glasses or helmet. The solution is able to distinguish a person from an animal or a hot object, and can also be used in the measurement of equipment temperature, fire control, perimeter invasions and much more.
			.row.productCategory.align-items-center
				.col-md-6
					.productCategory__img
						img.lazyload.blur-up.object-cover(data-src="/images/product-categories/10.jpg")
				.col-md-6
					.productCategory__caption
						h4.fw-300.fs-32 Intelbras Guardian
						.mt-3.fs-16 
							p All control of the security system is in the palm of your hand. With the Intelbras Guardian application, you integrate the operation of your alarm system and security cameras, all with practicality and efficiency to make your home or establishment safer.
			.row.productCategory.align-items-center
				.col-md-6
					.productCategory__img
						img.lazyload.blur-up.object-cover(data-src="/images/product-categories/11.jpg")
				.col-md-6
					.productCategory__caption
						h4.fw-300.fs-32 Digital Locks
						.mt-3.fs-16 
							p Leave fragile keys and locks behind. With digital locks you have the freedom to open doors with a password, with your fingerprint or proximity keyrings, and you are sure that the door will always be locked.
.container.suporte
	.row.pd-section.border-bottom
		.col
			.tab-container
				.suporte-header.tab-toggle-item
					.tab-toggle-for(toggle-for="tab-1")
						p.fs-16 Especificações Técnicas
					.tab-toggle-for(toggle-for="tab-2")
						p.fs-16 Arquivos para download
				.suporte-body
					.tab-content(tab-id="tab-1")
						a.fs-18.py-3.d-inline-block(href="#" style="color:#2b2") 
							| Ficha técnica – HDs WD Purple™.pdf
							i.fal.fa-arrow-down.ml-2
					.tab-content(tab-id="tab-2")
						table.table.mt-2(style="width:100%")
							tbody 
								tr 
									th.py-2.px-1(colspan="2")
										p.fs-16.fw-300 Outros arquivos
								tr
									td.py-1 
										p.fs-16.fw-300 Comparativo HD WD Purple x HD Comum PC 
									td.py-1.text-right
										a.fs-20(href="#" style="color:#2b2") 
											| Baixar
											i.fal.fa-arrow-down.ml-1
								tr
									td.py-1 
										p.fs-16.fw-300 Lista de Capacidade de Armazenamento e Compatibilidade de HDs
									td.py-1.text-right
										a.fs-20(href="#" style="color:#2b2") 
											| Baixar
											i.fal.fa-arrow-down.ml-1
			