.productCategories.pt-section.productCategories--3
	.container
		.productCategories__list
			.row.productCategory.align-items-center
				.col-md-6
					.productCategory__img
						img.lazyload.blur-up.object-cover(data-src="/images/product-categories/9.jpg")
				.col-md-6
					.productCategory__caption
						h4.fw-300.fs-32 Solution for measuring body temperature
						.mt-3.fs-16 
							p Thermal cameras quickly and accurately identify the temperature of several people simultaneously and, in conjunction with facial recognition, can generate automatic alerts even if the person is wearing a mask, glasses or helmet. The solution is able to distinguish a person from an animal or a hot object, and can also be used in the measurement of equipment temperature, fire control, perimeter invasions and much more.
						a.btn.btn--main--outline.mt-4(href='https://youtu.be/vXgzLqlGZuY')
							span.btn__text Discover the new Intelbras campaign!
							span.btn__icon--right.fal.fa-chevron-right
			.row.productCategory.align-items-center
				.col-md-6
					.productCategory__img
						img.lazyload.blur-up.object-cover(data-src="/images/product-categories/10.jpg")
				.col-md-6
					.productCategory__caption
						h4.fw-300.fs-32 Intelbras Guardian
						.mt-3.fs-16 
							p All control of the security system is in the palm of your hand. With the Intelbras Guardian application, you integrate the operation of your alarm system and security cameras, all with practicality and efficiency to make your home or establishment safer.
						a.btn.btn--main--outline.mt-4(href='https://youtu.be/vXgzLqlGZuY')
							span.btn__text Know the detail
							span.btn__icon--right.fal.fa-chevron-right
			.row.productCategory.align-items-center
				.col-md-6
					.productCategory__img
						img.lazyload.blur-up.object-cover(data-src="/images/product-categories/11.jpg")
				.col-md-6
					.productCategory__caption
						h4.fw-300.fs-32 Digital Locks
						.mt-3.fs-16 
							p Leave fragile keys and locks behind. With digital locks you have the freedom to open doors with a password, with your fingerprint or proximity keyrings, and you are sure that the door will always be locked.
						a.btn.btn--main--outline.mt-4(href='https://youtu.be/vXgzLqlGZuY')
							span.btn__text Know your responsibilities
							span.btn__icon--right.fal.fa-chevron-right
			.row.productCategory.align-items-center
				.col-md-6
					.productCategory__img
						img.lazyload.blur-up.object-cover(data-src="/images/product-categories/12.jpg")
				.col-md-6
					.productCategory__caption
						h4.fw-300.fs-32 Innovative solutions for special projects
						.mt-3.fs-16 
							p High performance projects require special equipment. The Future Line exclusively meets this demand with the most advanced technologies of IP CCTV, automatic license plate reading, facial recognition, people counting, panoramic images and more for safer and more efficient cities or large companies.
						a.btn.btn--main--outline.mt-4(href='https://youtu.be/vXgzLqlGZuY')
							span.btn__text Learn about our solutions
							span.btn__icon--right.fal.fa-chevron-right
			.row.productCategory.align-items-center
				.col-md-6
					.productCategory__img
						img.lazyload.blur-up.object-cover(data-src="/images/product-categories/13.jpg")
				.col-md-6
					.productCategory__caption
						h4.fw-300.fs-32 A solution that can save lives
						.mt-3.fs-16 
							p Keep your fire detection and emergency lighting equipment up to date and up and running. Thus, you guarantee the safety of those who frequent the environment and an illuminated escape route in case of emergencies with quality products and high performance.
						a.btn.btn--main--outline.mt-4(href='https://youtu.be/vXgzLqlGZuY')
							span.btn__text Discover our products
							span.btn__icon--right.fal.fa-chevron-right
			.row.productCategory.align-items-center
				.col-md-6
					.productCategory__img
						img.lazyload.blur-up.object-cover(data-src="/images/product-categories/14.jpg")
				.col-md-6
					.productCategory__caption
						h4.fw-300.fs-32 Fully wireless long-range intrusion solution
						.mt-3.fs-16 
							p Alarm center with Ethernet or Wi-Fi communication, keypad and wireless siren with up to 16 partitions, sensor with camera and the longest battery life on the market: all in a complete line with encrypted technology and high performance.
						a.btn.btn--main--outline.mt-4(href='https://youtu.be/vXgzLqlGZuY')
							span.btn__text Get to know the 8000 system
							span.btn__icon--right.fal.fa-chevron-right
			.row.productCategory.align-items-center
				.col-md-6
					.productCategory__img
						img.lazyload.blur-up.object-cover(data-src="/images/product-categories/15.jpg")
				.col-md-6
					.productCategory__caption
						h4.fw-300.fs-32 From leaner to high-performance projects
						.mt-3.fs-16 
							p From leaner to high-performance projects If you are looking for the ultimate in practicality, technology and intelligence for monitoring small to large environments, IP technology is the perfect solution. Each year, the price of IP CCTV has been falling, while the technology grows and evolves to offer more benefits, better images and great innovations, allowing to use hybrid systems, such as applications in optical fibers, radios for wireless communications, among other related solutions to the IP world.
						a.btn.btn--main--outline.mt-4(href='https://youtu.be/vXgzLqlGZuY')
							span.btn__text Know more
							span.btn__icon--right.fal.fa-chevron-right
.container.suporte
	.row.pd-section.border-bottom
		.col
			.tab-container
				.suporte-header.tab-toggle-item
					.tab-toggle-for(toggle-for="tab-1")
						p.fs-16 Especificações Técnicas
					.tab-toggle-for(toggle-for="tab-2")
						p.fs-16 Arquivos para download
				.suporte-body
					.tab-content(tab-id="tab-1")
						a.fs-18.py-3.d-inline-block(href="#" style="color:#2b2") 
							| Ficha técnica – HDs WD Purple™.pdf
							i.fal.fa-arrow-down.ml-2
					.tab-content(tab-id="tab-2")
						table.table.mt-2(style="width:100%")
							tbody 
								tr 
									th.py-2.px-1(colspan="2")
										p.fs-16.fw-300 Outros arquivos
								tr
									td.py-1 
										p.fs-16.fw-300 Comparativo HD WD Purple x HD Comum PC 
									td.py-1.text-right
										a.fs-20(href="#" style="color:#2b2") 
											| Baixar
											i.fal.fa-arrow-down.ml-1
								tr
									td.py-1 
										p.fs-16.fw-300 Lista de Capacidade de Armazenamento e Compatibilidade de HDs
									td.py-1.text-right
										a.fs-20(href="#" style="color:#2b2") 
											| Baixar
											i.fal.fa-arrow-down.ml-1
			