.form-filter-simple-banner.about-us-simple-banner
	.img
		img.object-cover(src="/images/banners/about-us.png")
	.caption.text-center
		.container
			h1.fs-22.fw-300 Intelbras
			p.fs-20.mt-1 Always close to care, connect, communicate and transform

.about-us-institutional-section.pd-section
	.container
		.row.tab-container
			.col-md-3
				include ../_layouts/about-nav
			.col-md-1
			.col-md-8
				h2.fs-32.fw-300.mb-3 Environments
				.about-us-institutional-item.mb-4
					h3.fs-22.fw-300 Preserve Program: focus on solid waste management
					p.fs-16 We care about the environment. For this reason, through selective collection and proper disposal of waste generated in the company, we contribute to reducing pollution and the environmental impacts of our processes.
					img(src="https://backend.intelbras.com/sites/default/files/inline-images/preserve_0.jpg", alt="")
				.about-us-institutional-item.mb-4
					h3.fs-22.fw-300 ETEs (Effluent Treatment Stations)
					p.fs-16 In all of our industrial parks, we use ETEs to guarantee the delivery to the environment of all its effluent in a totally adequate situation. Our stations have ultrafiltration membrane technology, guaranteeing the delivery to the environment of all its effluent in a totally adequate situation.
					
				.about-us-institutional-item.mb-4
					h3.fs-22.fw-300 Awareness campaigns
					p.fs-16 Every year we carry out several campaigns in the company, focusing on health, safety, the environment and our responsibility for these issues. In addition, we have campaigns that encourage conscious consumption, the correct recycling of electronic waste and the safe disposal of batteries and used vegetable oil.
					p To learn about the partners that integrate these processes, visit 
						a(href="#") www.cdisc.org.br 
						| .