.form-filter-simple-banner
	.img
		img.object-cover(src="/images/banners/form-filter.png")
	.caption.text-center
		.container
			h1.fs-22 Where to buy our products
			p.fs-16.mt-1 Always close to care, connect, communicate and transform
.form-filter.pd-section
	.container
		.section__blockTitle
			h2.fs-32.fw-300.text-center Select what you need below and find resellers near you.
		form.section__form.mt-4.pb-4
			.justify-content-center.row
				.col-lg-11.col-xl-10
					.row.justify-content-center
						.col-md-4.col-lg.mb-3
							.form__group
								select.form__control
									option What kind of product?
									option value a
									option value a
									option value a
									option value a
						.col-md-4.col-lg.mb-3
							.form__group
								select.form__control
									option What kind of product?
									option value a
									option value a
									option value a
									option value a
						.col-md-4.col-lg.mb-3
							.form__group
								select.form__control
									option What kind of product?
									option value a
									option value a
									option value a
									option value a
						.col-md-auto.mb-3.text-center
							button.btn.btn--main Continue
								span.btn__icon--right.fal.fa-chevron-right
		.productCategories--4.pt-4
			.row
				.col-md-4
					.card
						a.card__link(href="#")
							.card__img
								+svg("/images/big-project.svg")
							.card__caption.pl-3
								h4.cardTitle.fs-20 Do you need a big project?
									span.fal.fa-chevron-right
				.col-md-4
					.card
						a.card__link(href="#")
							.card__img
								+svg("/images/resell.svg")
							.card__caption.pl-3
								h4.cardTitle.fs-20 I want to resell intelbras products
									span.fal.fa-chevron-right
				.col-md-4
					.card
						a.card__link(href="#")
							.card__img
								+svg("/images/question.svg")
							.card__caption.pl-3
								h4.cardTitle.fs-20 Got any question
									span.fal.fa-chevron-right