.indexSection.page-banner-1
	.container
		.swiper-container
			.swiper-wrapper
				.swiper-slide
					.indexBanner
						.banner__img
							img.object-cover.lazyload.blur-up(data-src='/images/banners/1.png' alt='')
						.banner__caption.fullsize
							.banner__content.clearfix
								h2.fw-300 We think about today
								.mt-1
									span.fw-300 And we anticipate tomorrow!
								.mt-2
									a.btn.btn--main(href='https://youtu.be/vXgzLqlGZuY')
										span.btn__text Discover the new Intelbras campaign!
										span.btn__icon--right.fal.fa-chevron-right
		.swiper-pagination-custom