.indexSection.pt-section.indexSection--2
	.container
		.section__blockTitle
			h2.sectionTitle Where will you use our products?
		.section__slider.mt-4
			.swiper-container
				.swiper-wrapper
					.swiper-slide
						.card
							a.card__link(href="#")
								.card__img
									img(src="/images/index/1.jpg", alt="")
								.card__caption.mt-3
									h4.cardTitle Residências
					.swiper-slide
						.card
							a.card__link(href="#")
								.card__img
									img(src="/images/index/2.jpg", alt="")
								.card__caption.mt-3
									h4.cardTitle Residências Residências Residências
					.swiper-slide
						.card
							a.card__link(href="#")
								.card__img
									img(src="/images/index/3.jpg", alt="")
								.card__caption.mt-3
									h4.cardTitle Residências
					.swiper-slide
						.card
							a.card__link(href="#")
								.card__img
									img(src="/images/index/4.jpg", alt="")
								.card__caption.mt-3
									h4.cardTitle Residências
				.swiper-pagination-custom.mt-3