.indexSection.pd-section.indexSection--5
	.container
		.row
			.col-lg-6
				.blog.mb-4
					a.blog__link(href="blog-detail.html")
						.blog__img
							img.lazyload.blur-up(data-src="/images/index/5.jpg", alt="")
						.blog__caption.mt-3
							h4.cardTitle Join the Intelbras team
							p.cardContent.mt-3.fs-16 Find out more about us and be part of one of the best companies to work for in Brazil.
							p.blog__button.mt-3 View more
								span.fal.fa-external-link-alt
			.col-lg-6
				.blog.mb-4
					a.blog__link(href="blog-detail.html")
						.blog__img
							img.lazyload.blur-up(data-src="/images/index/6.jpg", alt="")
						.blog__caption.mt-3
							h4.cardTitle Check out our Trainings
							p.cardContent.mt-3.fs-16 In the iTEC portal, you will find personal and professional training content to improve your work even more.
							p.blog__button.mt-3 Access Training
								span.fal.fa-external-link-alt