extends views/_layouts/layout

block var
	- bodyClass = "blog-page"
	- pageTitle = "Blog - About"

block main
	.pageContainer
		.blog__newsletter.d-flex.align-items-center.justify-content-center
			p.text.my-1 Sign up to receive news by email:
			.newsletter__form.my-1 
				input(type="text" placeholder="Type your e-mail")
				button(type="submit") Sign up
		.form-filter-simple-banner.about-us-simple-banner
			.img
				img.object-cover(src="/images/banners/about-us.png")
			.caption.text-center
				.container
					h1.fs-22.fw-300 Blog - About
					p.fs-20.mt-1 Always close to care, connect, communicate and transform
		include views/blog-about/b-1