extends views/_layouts/layout

block var
	- bodyClass = "blog-page"
	- pageTitle = "Blog - Start"

block main
	.pageContainer
		#bg-banner-single.hidden-xs
			.banner
				.item
					img.img-responsive(src='https://blog.intelbras.com.br/wp-content/uploads/2019/03/capa-blog-2019.png')
		.blog__newsletter.d-flex.align-items-center.justify-content-center
			p.text.my-1 Sign up to receive news by email:
			.newsletter__form.my-1 
				input(type="text" placeholder="Type your e-mail")
				button(type="submit") Sign up
		include views/blog-start/b-1