extends views/_layouts/layout

block var
	- bodyClass = "call-center-result-page"
	- pageTitle = "Call Center Result"

block main
	.pageContainer
		//- include views/call-center/c-1
		include views/call-center/c-3