extends views/_layouts/layout

block var
	- bodyClass = "index-page"
	- pageTitle = "Index"

block main
	.pageContainer
		include views/index/i-1
		include views/index/i-2
		include views/index/i-3
		include views/index/i-4
		include views/index/i-5
		include views/index/i-6