extends views/_layouts/layout

block var
	- bodyClass = "product-detail-categories-page"
	- pageTitle = "Product Detail Categories"

block main
	.pageContainer
		include views/product-detail-categories/p-1
		include views/product-detail-categories/p-2
		include views/product-detail-categories/p-3