extends views/_layouts/layout

block var
	- bodyClass = "product-categories-page"
	- pageTitle = "Product Categories"

block main
	.pageContainer
		include views/product-categories/p-1
		include views/product-categories/p-2
		include views/product-categories/p-3