extends views/_layouts/layout

block var
	- bodyClass = "product-sub-categories-page"
	- pageTitle = "Product Sub Categories"

block main
	.pageContainer
		include views/product-sub-categories/p-1
		include views/product-sub-categories/p-2