extends views/_layouts/layout

block var
	- bodyClass = "solution-3-page"
	- pageTitle = "Solution Template 3"

block main
	.pageContainer
		include views/solution-3/s-1
		include views/solution-3/s-2
		include views/solution-3/s-3
		include views/solution-3/s-4