extends views/_layouts/layout

block var
	- bodyClass = "solution-page"
	- pageTitle = "Solution Template 1"

block main
	.pageContainer
		.container
			.solutionBanner.overflow-hidden
				.banner.overflow-hidden
					.fade-in
						h4.pt-2 Complete and personalized vehicle monitoring solution
						h1.fs-32.mt-1 Ensure total security for your fleet
					.banner-fundo
		include views/solution-1/s-1
		include views/solution-1/s-2
		include views/solution-1/s-3
		include views/solution-1/s-4
		include views/solution-1/s-5
		include views/solution-1/s-6
		include views/solution-1/s-7
		include views/solution-1/s-8