extends views/_layouts/layout

block var
	- bodyClass = "solution-2-page"
	- pageTitle = "Solution Template 2"

block main
	.pageContainer
		include views/solution-2/s-1
		include views/solution-2/s-2
		include views/solution-2/s-3
		include views/solution-2/s-4
		include views/solution-2/s-5
		include views/solution-2/s-6
		include views/solution-2/s-7
		include views/solution-2/s-8