extends views/_layouts/layout

block var
	- bodyClass = "result-technical-assistance"
	- pageTitle = "Support - Result Technical Assistance"

block main
	.pageContainer
		include views/support-result-technical/s-1