extends views/_layouts/layout

block var
	- bodyClass = "result-help-and-download-page"
	- pageTitle = "Support - Result Help and Download"

block main
	.pageContainer
		include views/support-result-help/s-1