.solution-1--2.solution-section
	.container
		.section__blockTitle.text-center
			h2.sectionTitle The vehicle monitoring solution from Intelbras allows complete fleet management,
			p.fs-16.mt-2 through the most advanced in terms of video sound technology and embedded artificial intelligence
			.mt-4
				span
					img(src="/images/arrow-down.png", alt="")
	.container.mt-4.solution-1__list
		.row.solution-1-item.align-items-center
			.col-md
				.solution-1-item__caption
					h4.fw-300.fs-32 Solution for measuring bodqqqqqqqy temperature
					.mt-3.fs-16
						p Thermal cameras quickly and accurately identify the temperature of several people simultaneously and, in conjunction with facial recognition, can generate automatic alerts even if the person is wearing a mask, glasses or helmet. The solution is able to distinguish a person from an animal or a hot object, and can also be used in the measurement of equipment temperature, fire control, perimeter invasions and much more.
					a.btn.btn--main--outline.mt-4(href='product-categories.html')
						span.btn__text Discover the new Intelbras campaign!
						span.btn__icon--right.fal.fa-chevron-right
			.col-md-1
			.col-md
				.solution-1-item__img
					img.blur-up.object-cover.ls-is-cached.lazyloaded(data-src='/images/product-categories/9.jpg' src='/images/product-categories/9.jpg')

		.row.solution-1-item.align-items-center
			.col-md
				.solution-1-item__caption
					h4.fw-300.fs-32 Solution for measuring bodqqqqqqqy temperature
					.mt-3.fs-16
						p Thermal cameras quickly and accurately identify the temperature of several people simultaneously and, in conjunction with facial recognition, can generate automatic alerts even if the person is wearing a mask, glasses or helmet. The solution is able to distinguish a person from an animal or a hot object, and can also be used in the measurement of equipment temperature, fire control, perimeter invasions and much more.
					a.btn.btn--main--outline.mt-4(href='product-categories.html')
						span.btn__text Discover the new Intelbras campaign!
						span.btn__icon--right.fal.fa-chevron-right
			.col-md-1
			.col-md
				.solution-1-item__img
					img.blur-up.object-cover.ls-is-cached.lazyloaded(data-src='/images/product-categories/9.jpg' src='/images/product-categories/9.jpg')

		.row.solution-1-item.align-items-center
			.col-md
				.solution-1-item__caption
					h4.fw-300.fs-32 Solution for measuring bodqqqqqqqy temperature
					.mt-3.fs-16
						p Thermal cameras quickly and accurately identify the temperature of several people simultaneously and, in conjunction with facial recognition, can generate automatic alerts even if the person is wearing a mask, glasses or helmet. The solution is able to distinguish a person from an animal or a hot object, and can also be used in the measurement of equipment temperature, fire control, perimeter invasions and much more.
					a.btn.btn--main--outline.mt-4(href='product-categories.html')
						span.btn__text Discover the new Intelbras campaign!
						span.btn__icon--right.fal.fa-chevron-right
			.col-md-1
			.col-md
				.solution-1-item__img
					img.blur-up.object-cover.ls-is-cached.lazyloaded(data-src='/images/product-categories/9.jpg' src='/images/product-categories/9.jpg')

		.row.solution-1-item.align-items-center
			.col-md
				.solution-1-item__caption
					h4.fw-300.fs-32 Solution for measuring bodqqqqqqqy temperature
					.mt-3.fs-16
						p Thermal cameras quickly and accurately identify the temperature of several people simultaneously and, in conjunction with facial recognition, can generate automatic alerts even if the person is wearing a mask, glasses or helmet. The solution is able to distinguish a person from an animal or a hot object, and can also be used in the measurement of equipment temperature, fire control, perimeter invasions and much more.
					a.btn.btn--main--outline.mt-4(href='product-categories.html')
						span.btn__text Discover the new Intelbras campaign!
						span.btn__icon--right.fal.fa-chevron-right
			.col-md-1
			.col-md
				.solution-1-item__img
					img.blur-up.object-cover.ls-is-cached.lazyloaded(data-src='/images/product-categories/9.jpg' src='/images/product-categories/9.jpg')

		.row.solution-1-item.align-items-center
			.col-md
				.solution-1-item__caption
					h4.fw-300.fs-32 Solution for measuring bodqqqqqqqy temperature
					.mt-3.fs-16
						p Thermal cameras quickly and accurately identify the temperature of several people simultaneously and, in conjunction with facial recognition, can generate automatic alerts even if the person is wearing a mask, glasses or helmet. The solution is able to distinguish a person from an animal or a hot object, and can also be used in the measurement of equipment temperature, fire control, perimeter invasions and much more.
					a.btn.btn--main--outline.mt-4(href='product-categories.html')
						span.btn__text Discover the new Intelbras campaign!
						span.btn__icon--right.fal.fa-chevron-right
			.col-md-1
			.col-md
				.solution-1-item__img
					img.blur-up.object-cover.ls-is-cached.lazyloaded(data-src='/images/product-categories/9.jpg' src='/images/product-categories/9.jpg')
