.solution-1--7.pt-section
	.container
		.row
			.col-md-6
				figure.cenario
					img(alt='sample85' src='https://backend.intelbras.com/sites/default/files/2020-10/cenario2-evento-incomum.jpg')
					figcaption
						h3.fs-32.fw-300 Unusual event
						p Opening of the trunk or fuel tank, speeding on rainy days, cases of robberies (which can be signaled by the panic button present next to the driver) and other eventualities that may cause accidents.

			.col-md-6
				figure.cenario
					img(alt='sample85' src='https://backend.intelbras.com/sites/default/files/2020-10/cenario2-evento-incomum.jpg')
					figcaption
						h3.fs-32.fw-300 Unusual event
						p Opening of the trunk or fuel tank, speeding on rainy days, cases of robberies (which can be signaled by the panic button present next to the driver) and other eventualities that may cause accidents.
			.col-md-6
				figure.cenario
					img(alt='sample85' src='https://backend.intelbras.com/sites/default/files/2020-10/cenario2-evento-incomum.jpg')
					figcaption
						h3.fs-32.fw-300 Unusual event
						p Opening of the trunk or fuel tank, speeding on rainy days, cases of robberies (which can be signaled by the panic button present next to the driver) and other eventualities that may cause accidents.
			.col-md-6
				figure.cenario
					img(alt='sample85' src='https://backend.intelbras.com/sites/default/files/2020-10/cenario2-evento-incomum.jpg')
					figcaption
						h3.fs-32.fw-300 Unusual event
						p Opening of the trunk or fuel tank, speeding on rainy days, cases of robberies (which can be signaled by the panic button present next to the driver) and other eventualities that may cause accidents.