.solution-3--2.indexSection--5.pt-section
	.container
		.section__blockTitle.text-center
			h2.sectionTitle Intelbras Solutions
			p.fs-16.mt-2 We offer complete solutions with innovative technologies to solve problems and improve the daily lives of companies, bringing them to the future.
		.solution-3--2__slider.mt-3
			.swiper-container
				.swiper-wrapper
					.swiper-slide
						.blog
							a.blog__link(href="blog.html")
								.blog__img
									img.lazyload.blur-up(data-src="/images/index/5.jpg", alt="")
								.blog__caption.mt-2.text-center
									h4.cardTitle Join the Intelbras team
									p.cardContent.mt-3.fs-16 Find out more about us and be part of one of the best companies to work for in Brazil.
					.swiper-slide
						.blog
							a.blog__link(href="blog-detail.html")
								.blog__img
									img.lazyload.blur-up(data-src="/images/index/6.jpg", alt="")
								.blog__caption.mt-2.text-center
									h4.cardTitle More security for your business
									p.cardContent.mt-3.fs-16 Protect your employees and assets with our security solutions. Protect your employees and assets with our security solutions. 
					.swiper-slide
						.blog
							a.blog__link(href="blog-detail.html")
								.blog__img
									img.lazyload.blur-up(data-src="/images/index/6.jpg", alt="")
								.blog__caption.mt-2.text-center
									h4.cardTitle More security for your business
									p.cardContent.mt-3.fs-16 Protect your employees and assets with our security solutions. Protect your employees and assets with our security solutions. 
			.swiper-pagination-custom.mt-3
