.solution-block-nav.pd-section
	.container.text-center
		h2.fs-32.fw-300 Do you want to request a quote and receive a proposal from one of our resellers?
		a.btn.btn--main--outline.fw-600.mt-4(href="#") Ask for budget