.about-nav-container
	h2.fs-22.fw-300.px-2.py-1.mb-1 Who we are?
	.about-us-nav-item.mb-1
		a.fs-16.px-2.py-1(href="institutional-who-we-are.html") Who we are?
	.about-us-nav-item.mb-1
		a.fs-16.px-2.py-1(href="institutional-who-we-are.html") What we do?
	.about-us-nav-item.mb-1
		a.fs-16.px-2.py-1(href="institutional-where-we-are.html") Where are we?
	.about-us-nav-item.mb-1
		a.fs-16.px-2.py-1(href="institutional-who-we-are.html") Missions/ Values/ Polizies
	.about-us-nav-item.mb-1
		a.fs-16.px-2.py-1(href="institutional-awards.html") Awards
	.about-us-nav-item.mb-1
		a.fs-16.px-2.py-1(href="#") Press
	hr.my-3
	h2.fs-22.fw-300.px-2.py-1.mb-1 Sustainability
	.about-us-nav-item.mb-1
		a.fs-16.px-2.py-1(href="institutional-who-we-are.html") Social responsability
	.about-us-nav-item.mb-1
		a.fs-16.px-2.py-1(href="institutional-awards.html") Environment
	.about-us-nav-item.mb-1
		a.fs-16.px-2.py-1(href="#") Product disposal