.blog-aside-container
	.blog-nav-container
		.blog-aside-header
			p.text-uppercase.fs-18.fw-700 Call us
		.blog-aside-body.py-2.px-2
			ul.blog-aside-nav
				li 
					a.fs-16.fw-700(href="#") Ebooks
					span.blog-aside-nav-number 25
				li 
					a.fs-16.fw-700(href="#") Energy
					span.blog-aside-nav-number 25
					ul
						li 
							a.fs-16.fw-700(href="#") Solar Energy
							span.blog-aside-nav-number 25
				li 
					a.fs-16.fw-700(href="#") Safety
					span.blog-aside-nav-number 25
				li 
					a.fs-16.fw-700(href="#") Communication
					span.blog-aside-nav-number 25
				li 
					a.fs-16.fw-700(href="#") Networks
					span.blog-aside-nav-number 25
				li 
					a.fs-16.fw-700(href="#") Public
					span.blog-aside-nav-number 25
					ul
						li 
							a.fs-16.fw-700(href="#") Safety
							span.blog-aside-nav-number 25
						li 
							a.fs-16.fw-700(href="#") Communication
							span.blog-aside-nav-number 25
						li 
							a.fs-16.fw-700(href="#") Networks
							span.blog-aside-nav-number 25
						li 
							a.fs-16.fw-700(href="#") Public
							span.blog-aside-nav-number 25