//- link(rel="stylesheet", href="./css/core.min.css")
//- link(rel="stylesheet", href="./css/main.min.css")
link(rel='preconnect' href='https://fonts.gstatic.com')
link(href='https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;700&display=swap' rel='stylesheet')


<!-- inject:css -->
<!-- endinject -->