header.header__2 
    .container 
        .d-flex.align-items-center.flex-wrap
            .header__logo 
                a(href="/")
                    img.lazyload.blur-up(src='https://blog.intelbras.com.br/wp-content/themes/intelbras_blog/img/logo-intelbras-menu.png')
            .header__btn
            .header__main 
                ul.fw-600.d-flex
                    li
                        a(href="#") Início 
                    li
                        a(href="#") Sobre 
                    li
                        a(href="#") Contato 
                    li
                        a(href="#") Site 
            .header__search.d-flex.align-items-center
                input.form-control(type="text" placeholder="Busca")
                button(type="submit")