include mixin
block var

<!DOCTYPE html>
html(lang="en")
	head
		block meta
			include meta
		block css
			include css
		title=pageTitle
	body(id=bodyClass)
		block header
			if bodyClass == "blog-page"
				include header2
			else
				include header
		main
			block main
			#page-verify(data-class=bodyClass)
		block footer
			include footer
		block js
			include js