block var

<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
		block meta
			include meta
		block css
			include css
		title Document
	body(class=bodyClass)
		block header
			include header
		main(class=mainClass)
			block main
		block footer
			include footer
		block js
			include js