.blog-about-section.pd-section
	.container
		.row
			.col-lg-8
				.blog__list
					-for(i=0;i<5;i++)
						.blog__item.pb-4.mb-4
							h3.fs-22.mb-3
								a(href="#") 7 technologies to use in sustainable architecture projects
							.row
								.col-sm-5.mb-3
									a(href="https://blog.intelbras.com.br/7-tecnologias-para-usar-em-projetos-de-arquitetura-sustentavel/" title="7 tecnologias para usar em projetos de arquitetura sustentável")
										img.fullsize(src="https://blog.intelbras.com.br/wp-content/uploads/2021/02/postdez129_arquitetura_sustentavel-328x172.jpg" alt="Intelbras")
								.col-sm-7.mb-3
									.text.pb-4
										p Telhados verdes, revestimentos de material natural e ambientes projetados para favorecer a iluminação natural são apenas algumas das estratégias usadas na arquitetura sustentável. Seu objetivo principal é minimizar os recursos… 
											a.read-more.fs-14.fw-500(href="https://blog.intelbras.com.br/7-tecnologias-para-usar-em-projetos-de-arquitetura-sustentavel/") keep reading "
									.detail.d-flex.justify-content-between.pt-2
										.detail-left
											h4.fw-500 Intelbras
											p.time.fs-14.mt-2 February 23, 2021 at 8:02 am
										.detail-right
											.at-share-btn-elements
												a.at-icon-wrapper.at-share-btn.at-svc-facebook(role='button' tabindex='0' style='background-color: rgb(59, 89, 152); border-radius: 0%;')
													span.at-icon-wrapper(style='line-height: 20px; height: 20px; width: 20px;')
														svg.at-icon.at-icon-facebook(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 32 32' version='1.1' role='img' aria-labelledby='at-svg-facebook-1' style='width: 20px; height: 20px;')
															title#at-svg-facebook-1 Facebook
															g
																path(d='M22 5.16c-.406-.054-1.806-.16-3.43-.16-3.4 0-5.733 1.825-5.733 5.17v2.882H9v3.913h3.837V27h4.604V16.965h3.823l.587-3.913h-4.41v-2.5c0-1.123.347-1.903 2.198-1.903H22V5.16z' fill-rule='evenodd')
												a.at-icon-wrapper.at-share-btn.at-svc-twitter(role='button' tabindex='0' style='background-color: rgb(29, 161, 242); border-radius: 0%;')
													span.at-icon-wrapper(style='line-height: 20px; height: 20px; width: 20px;')
														svg.at-icon.at-icon-twitter(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 32 32' version='1.1' role='img' aria-labelledby='at-svg-twitter-2' style='width: 20px; height: 20px;')
															title#at-svg-twitter-2 Twitter
															g
																path(d='M27.996 10.116c-.81.36-1.68.602-2.592.71a4.526 4.526 0 0 0 1.984-2.496 9.037 9.037 0 0 1-2.866 1.095 4.513 4.513 0 0 0-7.69 4.116 12.81 12.81 0 0 1-9.3-4.715 4.49 4.49 0 0 0-.612 2.27 4.51 4.51 0 0 0 2.008 3.755 4.495 4.495 0 0 1-2.044-.564v.057a4.515 4.515 0 0 0 3.62 4.425 4.52 4.52 0 0 1-2.04.077 4.517 4.517 0 0 0 4.217 3.134 9.055 9.055 0 0 1-5.604 1.93A9.18 9.18 0 0 1 6 23.85a12.773 12.773 0 0 0 6.918 2.027c8.3 0 12.84-6.876 12.84-12.84 0-.195-.005-.39-.014-.583a9.172 9.172 0 0 0 2.252-2.336' fill-rule='evenodd')
				.block__pagination.d-flex.justify-content-center
					.pagination__item
						a(href="#") 1
					.pagination__item
						a(href="#") 2
					.pagination__item
						a(href="#") 3
					.pagination__item
						span ...
					.pagination__item
						a(href="#") Next
			.col-lg-1
			.col-lg-3
				include ../_layouts/blog-aside