.blog-contact.pd-section
	.container
		.section__blockTitle
			h2.sectionTitle Contact with us!
		.row.justify-content-center.mt-3
			.col-xl-8.col-lg-9
				p.fs-16.mb-3 For issues related to the blog use the form below. For more information about intelbras, click 
					a(href="#") here 
					| .
				form.blog-contact-form
					.row
						.col-sm-6.form__group.mb-3
							label.form__label Name
							input.form__control(type="text")
						.col-sm-6.form__group.mb-3
							label.form__label Email
							input.form__control(type="text")
						.col-sm-6.form__group.mb-3
							label.form__label City
							input.form__control(type="text")
						.col-sm-6.form__group.mb-3
							label.form__label State
							input.form__control(type="text")
						.col-12.form__group.mb-3
							label.form__label Message
							textarea.form__control
						.col-12.form__group.mb-3.text-center
							button.btn.btn--main Submit
								span.btn__icon--right.fal.fa-chevron-right