.indexSection
	.container
		.swiper-container
			.swiper-wrapper
				.swiper-slide
					.indexBanner
						.banner__img
							img.object-cover.lazyload.blur-up(data-src='/images/banners/solution-2.png' alt='')
						.banner__caption.fullsize
							.banner__content.clearfix
								h2.fw-300 Infrastructure for providers
								.mt-1
									span.fw-300 Solutions for a more efficient, safe, agile and quality operation.
								.mt-2
									a.btn.btn--main(href='#')
										span.btn__text Know more
										span.btn__icon--right.fal.fa-chevron-right
		.swiper-pagination-custom