.solution-2--4.indexSection--2.pt-section
	.container
		.section__blockTitle.text-center
			h2.sectionTitle Application scenarios:
		.solution-2--4__caption.row.mt-3
			.col-6.col-lg-3
				.card
					a.card__link(href="#")
						.card__img
							img(src="/images/index/1.jpg", alt="")
						.card__caption.mt-2
							h4.cardTitle Residências
			.col-6.col-lg-3
				.card
					a.card__link(href="#")
						.card__img
							img(src="/images/index/1.jpg", alt="")
						.card__caption.mt-2
							h4.cardTitle Residências
			.col-6.col-lg-3
				.card
					a.card__link(href="#")
						.card__img
							img(src="/images/index/1.jpg", alt="")
						.card__caption.mt-2
							h4.cardTitle Residências
			.col-6.col-lg-3
				.card
					a.card__link(href="#")
						.card__img
							img(src="/images/index/1.jpg", alt="")
						.card__caption.mt-2
							h4.cardTitle Residências