.solution-2--5.indexSection--2.pt-section
	.container
		.section__blockTitle.text-center
			h2.sectionTitle Technology
		.solution-2--4__caption.row.mt-3
			.col-sm-6
				.card
					a.card__link(href="#")
						.card__img
							img(src="/images/index/1.jpg", alt="")
						.card__caption.mt-2.text-center
							h4.cardTitle Residências
			.col-sm-6
				.card
					a.card__link(href="#")
						.card__img
							img(src="/images/index/1.jpg", alt="")
						.card__caption.mt-2.text-center
							h4.cardTitle Residências