.solution-2-block-nav.pd-section
	.container
		.row.flex-center.mx-0
			h2.fs-32.fw-300 Want to talk to one of our consultants about products and solutions?
			a.btn.btn--main--outline.fw-600.my-2.mx-2(href="#") Talk to a consultant