
.productCategories.pd-section.productCategories--4.contact-section--border-top
	.container
		.container--custom
			.row
				.col-md-6.py-2
					.card
						a.card__link(href="#")
							.card__img
								+svg("/images/index/icon-1.svg")
							.card__caption.pl-3
								h4.cardTitle.fs-20 Find the nearest retailer
									span.fal.fa-chevron-right
				.col-md-6.py-2
					.card
						a.card__link(href="#")
							.card__img
								+svg("/images/index/icon-1.svg")
							.card__caption.pl-3
								h4.cardTitle.fs-20 Talk to our technical support
									span.fal.fa-chevron-right