.pt-section
    .container
        .row.tab-container
            .col-md-3
                .tab-toggle-item-list.list-toggle-privacy-policy.pt-4.mt-4
                    .tab-toggle-for.py-1(toggle-for="tab-1")
                        .d-flex.align-items-center
                            .caption
                                p.fs-18.fw-400 Política de privacidade
                    .tab-toggle-for.py-1(toggle-for="tab-2")
                        .d-flex.align-items-center
                            .caption
                                p.fs-18.fw-400 Termos de uso INTELBRAS
            .col-md-9
                .tab-content(tab-id="tab-1")
                    h2.fs-32.fw-500.text-center.pb-4 Política de privacidade
                    ul.list-attendance
                        li.attendance-item.mb-4
                            p.fs-18.fw-300.mb-2 Informações Importantes
                            p.fs-16.fw-300 No decorrer dessa política, adotamos os termos abaixo listado com os respectivos significados:
                            br
                            p.fs-16.fw-300.pl-2 Autoridade Nacional de Proteção de Dados (ANPD) - É o órgão que fiscalizará e orientará a aplicação da LGPD, bem como é responsável pela aplicação de sanções administrativas em caso de violação à lei.
                            br
                            p.fs-16.fw-300.pl-2 Base Legal para Tratamento – O tratamento de Dados Pessoais é permitido pela LGPD de acordo com as bases legais previstas, tais como o consentimento do Titular, o cumprimento de obrigações legais e/ou regulatórias pela Intelbras, a existência de contrato entre a Intelbras e o Titular, análise para proteção ao crédito, bem como legítimos interesses da Intelbras ou do Titular.
                            br
                            p.fs-16.fw-300.pl-2 Biometria - Uma característica física mensurável ou um traço pessoal comportamental pessoal usado para reconhecer ou verificar a identidade de uma pessoa. Imagens faciais, impressões digitais e amostras de íris são exemplos de biometria.
                            br
                            p.fs-16.fw-300.pl-2 Comitê de Privacidade - Significa o comitê de pessoas da Intelbras composto por representantes do Departamento Jurídico, TI e Qualidade, responsável pela representação da Intelbras perante os titulares e a ANPD, bem como será responsável pela orientação geral a respeito do tratamento de Dados Pessoais na Intelbras.
                            br
                            p.fs-16.fw-300.pl-2 Consentimento - É a manifestação livre, informada e inequívoca pela qual o Titular concorda com o tratamento de seus Dados Pessoais para uma finalidade determinada.
                .tab-content(tab-id="tab-2")
                    ul.list-attendance
                        li.attendance-item.mb-4
                            p.fs-18.fw-300.mb-2 Informações Importantes
                            p.fs-16.fw-300 No decorrer dessa política, adotamos os termos abaixo listado com os respectivos significados:
                            br
                            p.fs-16.fw-300.pl-2 Autoridade Nacional de Proteção de Dados (ANPD) - É o órgão que fiscalizará e orientará a aplicação da LGPD, bem como é responsável pela aplicação de sanções administrativas em caso de violação à lei.
                            br
                            p.fs-16.fw-300.pl-2 Base Legal para Tratamento – O tratamento de Dados Pessoais é permitido pela LGPD de acordo com as bases legais previstas, tais como o consentimento do Titular, o cumprimento de obrigações legais e/ou regulatórias pela Intelbras, a existência de contrato entre a Intelbras e o Titular, análise para proteção ao crédito, bem como legítimos interesses da Intelbras ou do Titular.
                            br
                            p.fs-16.fw-300.pl-2 Biometria - Uma característica física mensurável ou um traço pessoal comportamental pessoal usado para reconhecer ou verificar a identidade de uma pessoa. Imagens faciais, impressões digitais e amostras de íris são exemplos de biometria.
                            br
                            p.fs-16.fw-300.pl-2 Comitê de Privacidade - Significa o comitê de pessoas da Intelbras composto por representantes do Departamento Jurídico, TI e Qualidade, responsável pela representação da Intelbras perante os titulares e a ANPD, bem como será responsável pela orientação geral a respeito do tratamento de Dados Pessoais na Intelbras.
                            br
                            p.fs-16.fw-300.pl-2 Consentimento - É a manifestação livre, informada e inequívoca pela qual o Titular concorda com o tratamento de seus Dados Pessoais para uma finalidade determinada.
                    