.form-filter-simple-banner
	.img
		img.object-cover(src="/images/banners/form-filter.png")
	.caption.text-center
		.container
			h1.fs-22 Where to buy our products
			p.fs-16.mt-1 Always close to care, connect, communicate and transform
.form-filter.pd-section
	.container 
		.block__result--slider
			.swiper-container 
				.swiper-wrapper
					.swiper-slide 
						.product.fullsize
							.product__url.fullsize
								.product__img
									img.lazyload.blur-up(data-src="/images/ap_360.png")
								.product__caption
									p.product__subTitle.fs-16.mt-1 Intelbras Management Software
									h4.cardTitle.product__title.mt-1 SIS
								.product__link.fs-14.mt-4.mb-2.fw-500
									a(href="#")
										span.txt Redo search
										span.fal.fa-chevron-right.ml-1
		.block__search-suggesstion.mt-5.pt-4.text-center
			h3.fs-22.fw-300.mb-2 Para instalar o produto, você vai precisar do serviço da nossa rede de profissionais.
			.d-flex.justify-content-center.button__list.mt-3
				.button.mx-3
					button.btn.btn--main--outline Quero indicação para instalação
						span.btn__icon--right.fal.fa-chevron-right
				.button.mx-3
					button.btn.btn--main Quero apenas comprar
						span.btn__icon--right.fal.fa-chevron-right