:root {
	--main: #00a335;
	--white: #ffffff;
	--black: #000000;
	--text: #2b2b2b;
	--alert: #842029;
	--dark-gray: #5e6573
}

$color: (
	main: #00a335,
	white: #ffffff,
	black: #000000,
	text: #2b2b2b,
	alert: #842029,
	silver: #f5f5f5,
	dark-gray: #5e6573
);
