.search__suggest{
    position: relative;
    .suggest__list{
        position: absolute;
        top: calc(100% + 5px);
        left: 0;
        width: 100%;
	    border: 1px solid darken(map-get($color, white), 12%);
        z-index: 55;
        background: map-get($color, white);
        .suggest__item{
            + .suggest__item{
	            border-top: 1px solid darken(map-get($color, white), 12%);
            }
            .suggest__url{
                text-align: left;
                display: block;
                padding: 10px 20px;
                font-size: 1.4rem;
                color: lighten(map-get($color, black), 25%);
            }
        }
    }
}