.form-filter-simple-banner
	.img
		img.object-cover(src="/images/banners/form-filter.png")
	.caption.text-center
		.container
			h1.fs-22 Help and downloads
			p.fs-16.mt-1 Always close to care, connect, communicate and transform
.form-filter.pd-section
	.container 
		.block__result--slider
			.swiper-container 
				.swiper-wrapper
					.swiper-slide 
						.product.fullsize
							.product__url.fullsize
								.product__img
									img.lazyload.blur-up(data-src="/images/ap_360.png")
								.product__caption
									p.product__subTitle.fs-16.mt-1 Intelbras Management Software
									h4.cardTitle.product__title.mt-1 SIS
								.product__link.fs-14.mt-1.mb-2.fw-500
									a(href="#")
										span.txt Redo search
										span.fal.fa-chevron-right.ml-1
		.block__search-suggesstion.mt-5.pt-0.text-center.mt-4
			h3.fs-22.fw-300.mb-2 Type name of street, quarter or CEP to search for technical assistances
			.row.justify-content-center
				.col-lg-4
					.search__suggest
						input(type="text").form__control
						.suggest__list 
							.suggest__item 
								a(href="#").suggest__url connect, communicate and transform connect, communicate and transform
							.suggest__item 
								a(href="#").suggest__url Test test test test
							.suggest__item 
								a(href="#").suggest__url Test test test test
							.suggest__item 
								a(href="#").suggest__url Test test test test