.form-filter-simple-banner
	.img
		img.object-cover(src="/images/banners/form-filter.png")
	.caption.text-center
		.container
			h1.fs-22 Help and downloads
			p.fs-16.mt-1 Always close to care, connect, communicate and transform
.form-filter.pd-section
	.container
		.section__blockTitle
			h2.fs-32.fw-300.text-center First select the product
		form.section__form.mt-4.pb-4
			.justify-content-center.row
				.col-lg-11.col-xl-10
					.row.justify-content-center.mt-4
						.col-md-6
							.form__search
								.form__group
									input.form__control(placeholder="Enter product name")
								button.btn
									span.far.fa-search
					p.fs-22.text-center.mt-4 Or
					.row.justify-content-center.mt-4
						.col-md-4.col-lg.mb-3
							.form__group
								select.form__control
									option What kind of product?
									option value a
									option value a
									option value a
									option value a
						.col-md-4.col-lg.mb-3
							.form__group
								select.form__control
									option What kind of product?
									option value a
									option value a
									option value a
									option value a
						.col-md-4.col-lg.mb-3
							.form__group
								select.form__control
									option What kind of product?
									option value a
									option value a
									option value a
									option value a
						.col-md-auto.mb-3.mb-3
							.form__group
								select.form__control
									option What kind of product?
									option value a
									option value a
									option value a
									option value a