.indexSection
	.container
		.swiper-container
			.swiper-wrapper
				.swiper-slide
					.indexBanner
						.banner__img
							img.object-cover.lazyload.blur-up(data-src='/images/banners/3.jpg' alt='')
						.banner__caption.fullsize
							.banner__content.clearfix
								h2.fw-300 Accessories
								.mt-1
									span.fw-300 End-to-end quality projects
		.swiper-pagination-custom